@use "./colors.scss" as colors;

html {
  color: colors.$primary-gold;
}

input:disabled {
  background-color: white;
}

h1 {
  font-size: 50px;
}

#home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: colors.$primary-gold;
}

#home-sub-header {
  margin: 0;
  font-size: 30px;
}

.home-text-box-container {
  min-width: 70%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-process-btn {
  margin-top: 20px;
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  min-width: 100px;
  background-color: colors.$primary-gold;
  color: colors.$primary-blue;
  cursor: pointer;
}

.home-process-btn:hover {
  border: none;
  -webkit-box-shadow: 0 0 10px colors.$primary-gold;
  box-shadow: 0 0 20px colors.$primary-gold;
}

a:any-link {
  text-decoration: none;
}
